{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}
<div class="portfolio">
    <div class="hexagon pic">
        <span class="top" style="background: url(http://placekitten.com/400/400/)"></span>
        <span class="middle" style="background: url(http://placekitten.com/400/400/)"></span>
        <span class="bottom" style="background: url(http://placekitten.com/400/400/)"></span>
    </div>


    <div class="hexagon">
        <span class="top" style="overflow: hidden;"><img src="http://placekitten.com/400/400/" /></span>
        <span class="middle" style="overflow: hidden;"><img src="http://placekitten.com/400/400/" /></span>
        <span class="bottom" style="overflow: hidden;"><img src="http://placekitten.com/400/400/" /></span>
    </div>

    <div class="hexagon">
        <span class="top"><img src="http://placekitten.com/400/400/" /></span>
        <span class="middle"><img src="http://placekitten.com/400/400/" /></span>
        <span class="bottom"><img src="http://placekitten.com/400/400/" /></span>
    </div>
</div>
{% endblock %}
