/*Main colors*/
$main-black: #111111;   /* Noir */
$main-white: #FFFFFF;   /* Blanc */
$main-blue: #4169E1;    /* Bleu */

/*Background Color*/
$bg-body: $main-black;        /*Blanc*/
$bg-navbar: $main-black;      /*Vert*/

/*Police*/
$police-logo: handlee, sans-serif;
$police-text: Raleway, sans-serif;

/*Font size*/
$fs-h1: 65px;
$fs-h2: 48px;
$fs-h3: 30px;
$fs-h4: 18px;
$fs-h5: 16px;

/*Police color*/
$color-h1: $main-white;
$color-h2: $main-white;
$color-h3: $main-white;
$color-h4: $main-white;
$color-h5: $main-white;