{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <div class="contact">
        <div class="row">
            <div class="col-xl-6 contactInformation">
                <img src="https://picsum.photos/200/300" alt="profilPicture" class="profilPicture">
            </div>
            <div class="col-xl-6 text">
                <h1>Bonjour,</h1>
                <p>Je m'appelle Thierry DUFOSSE</p>
                <p>Je suis Developpeur Web Full Stack Junior, professionnel énergique, motivé et doté d'un solide esprit d'équipe,
                    je sais gérer les situations de grand stress et atteindre les objectifs dans les délais</p>
            </div>
        </div>
    </div>
{% endblock %}
