{% extends "layoutEmail.html.twig" %}

{% block body %}
    <h2>Vous avez un nouveau message</h2>

    <p>Bonjour,</p>
    <br>
    <p>{{ contact.name }} vous a envoyé un nouveau message au sujet de {{ contact.subject }}</p>
    <br>
    <p>Message:</p>
    <p>{{ contact.message }}</p>
    <br>
    <p>Vous pouvez le/la recontacter à {{contact.email }}
{% endblock %}