<form method="post" action="{{ path('admin_delete_typeProject', {'id': typeProject.id}) }}" onsubmit="return confirm('Es-tu sûre de vouloir supprimer ce type de projet ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typeProject.id) }}">
    <button class="delete-btn">Supprimer</button>
</form>