<form method="post" action="{{ path('admin_delete_method', {'id': method.id}) }}" onsubmit="return confirm('Es-tu sûre de vouloir supprimer cette méthode ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ method.id) }}">
    <button class="delete-btn">Supprimer</button>
</form>