<form method="post" action="{{ path('admin_delete_librairie', {'id': librairie.id}) }}" onsubmit="return confirm('Es-tu sûre de vouloir supprimer cette librairie ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ librairie.id) }}">
    <button class="delete-btn">Supprimer</button>
</form>