{% extends 'base.html.twig' %}

{% block title %}Edition{% endblock %}

{% block body %}

    <div class="container-fluid-edit">
        <div class="row align-items-center justify-content-center">
            <div class="col-6 profile-main-forms ">
                <div class="form-service">
                    {% form_theme form 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn mt-5">Editer cette connaissance</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
